@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <h4>Col 1 (sm3)</h4>
    </div>
    <div class="col-sm-9">
        <h4>Col 2 (sm9)</h4>
    </div>
</div>
