<style>
    .tg-notification .list-group-item {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: small;
    }
</style>

<template id="notificationTemplate">
    <div class="panel panel-info tg-notification">
        <div class="panel-heading">Notifications</div>
        <div class="list-group" data-bind="foreach: messages">
            <div class="list-group-item">
                <span data-bind="text: type"></span>:<span data-bind="text: message"></span>
            </div>
        </div>
    </div>
</template>
