<style>
    .tg-room .panel-title {
        font-size: 18px;
        line-height: 30px;
        color: #777;
    }

     .tg-room .tg-room-name {
        padding-right: 10px;
     }

    .tg-room .tg-room-name[data-toggle="collapse"]::before {
        margin-left: -5px;
        margin-right: 5px;
        font-family: 'Glyphicons Halflings';
        font-size: 14px;
        content: "\e080";
    }

    .tg-room .tg-room-name[data-toggle="collapse"].collapsed::before {
        content: "\e114";
    }

    .tg-room .panel-footer {
        line-height: 30px;
        margin-top: -15px;
    }

        .tg-room .panel-footer .badge {
            margin: 0px 5px;
            padding: 6px 10px;
            font-size: 14px;
            font-weight: normal;
        }

            .tg-room .panel-footer .badge.tg-active {
                background-color: #a94442;
            }

            .tg-room .panel-footer .badge.tg-winner {
                background-color: #337ab7;
            }
</style>

<template id="roomTemplate">
    <div class="panel panel-default tg-room" data-bind="attr: { 'id': clientId }">
        <div class="panel-heading clearfix">
            <span class="panel-title">
                <span class="tg-room-name" data-toggle="collapse" data-bind="text: hostName + '/' + name, attr: { 'data-target': '#' + clientId + '_body_container' }"></span>
                <span class="glyphicon glyphicon-forward" data-bind="visible: beeper.isBeeping" aria-hidden="true"></span>
            </span>

            <div class="btn-toolbar pull-right" role="toolbar">
                <!-- createTable -->
                <div class="btn-group" role="group" data-bind="visible: canCreateTable">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-bind="enable: canCreateTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Open Table <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-bind="foreach: $root.gameNames">
                        <li><a href="#" data-bind="text: $data, click: $root.createTable.bind($parent, $parent, $data)"></a></li>
                    </ul>
                </div>

                <!-- ko with: table -->
                <button type="button" class="btn btn-sm btn-primary" data-bind="visible: canJoin, click: $root.joinTable">Join Table</button>
                <button type="button" class="btn btn-sm btn-default" data-bind="visible: canLeave, click: $root.leaveTable">Leave Table</button>
                <button type="button" class="btn btn-sm btn-primary" data-bind="visible: canStart, click: $root.startTable">Start Game</button>
                <button type="button" class="btn btn-sm btn-primary" data-bind="visible: canRestartGame, click: $root.restartGame">Restart</button>
                <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-bind="visible: status() !== 'Open', attr: { 'data-target': '#' + room.clientId + '_stats' }">Stats</button>
                <!-- /ko -->

                <!-- destroyTable -->
                <button type="button" class="btn btn-sm btn-danger" data-bind="visible: canDestroyTable, click: $root.destroyTable">End</button>

                <!-- leaveRoom -->
                <button type="button" class="btn btn-sm btn-primary" data-bind="click: $root.leaveRoom" title="Leave Room">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="panel-collapse collapse in" data-bind="attr: { 'id': clientId + '_body_container' }">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                    <!-- ko template: { name: 'tableTemplate', if: table, data: table } --><!-- /ko -->
                    </div>

                    <div class="col-sm-4">
                    <!-- ko template: { name: 'chatTemplate', data: chat } --><!-- /ko -->
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                Players:
                <span data-bind="if: table">
                    <!-- ko foreach: table().playerNames -->
                    <span class="badge" data-bind="text: $data, css: { 'tg-active': $data === $parent.table().activePlayerName(), 'tg-winner': $parent.table().winnerNames.indexOf($data) > -1 }"></span>
                    <!-- /ko -->
                </span>
            </div>
        </div>
    </div>
</template>
