<template id="tableTemplate">
    <div class="panel panel-default tg-table" data-bind="css: hasJoined() ? 'panel-primary' : 'panel-default'">
        <div class="panel-heading">
            <!-- ko if: game -->
            <span class="pull-right glyphicon" data-bind="css: game().isEnded() ? 'glyphicon-pause' : 'glyphicon-play'" aria-hidden="true"></span>
            <!-- /ko -->
            <span class="badge pull-right" data-bind="text: status"></span>
            <span data-bind="text: gameName"></span>
        </div>
        <div class="panel-body">
            <!-- ko if: status() === 'Open' -->
            Waiting for players to join.
            <!-- /ko -->

            <!-- ko if: game -->
            <!-- ko template: { name: gameTemplateName, data: game } --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>

    <!-- ko template: statsTemplateName --><!-- /ko -->
</template>

<template id="statsVerticalTemplate">
    <div class="panel panel-default collapse" data-bind="attr: { 'id': room.clientId + '_stats' }">
        <div class="panel-heading">
            <span>Stats</span>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <span>#</span>
                    </th>
                    <!-- ko foreach: { data: playerNames, as: 'playerName' } -->
                    <th>
                        <span data-bind="text: playerName, css: { 'tg-active': playerName === $parent.activePlayerName() }"></span>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: stats, as: 'gameStats' }">
                <tr>
                    <td>
                        <span data-bind="text: $index() + 1"></span>
                    </td>
                    <!-- ko foreach: { data: $parent.playerNames, as: 'playerName' } -->
                    <td data-bind="if: gameStats.winnerNames.indexOf(playerName) > -1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</template>

<template id="statsHorizontalTemplate">
    <div class="panel panel-default collapse" data-bind="attr: { 'id': room.clientId + '_stats' }">
        <div class="panel-heading">
            <span>Stats</span>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <span>Player</span>
                    </th>
                    <!-- ko foreach: { data: stats, as: 'gameStats' } -->
                    <th>
                        <span data-bind="text: $index() + 1"></span>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: playerNames, as: 'playerName' }">
                <tr>
                    <td>
                        <span data-bind="text: playerName"></span>
                    </td>
                    <!-- ko foreach: { data: $parent.stats, as: 'gameStats' } -->
                    <td data-bind="if: gameStats.winnerNames.indexOf(playerName) > -1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</template>
