<template id="tableTemplate">
    <div class="panel panel-default tg-table">
        <div class="panel-heading">
            <span class="badge pull-right" data-bind="text: status"></span>
            <span data-bind="text: gameName"></span>
        </div>
        <div class="panel-body">
            <!-- ko ifnot: game -->
            Waiting for players to join.
            <!-- /ko -->
            <!-- ko if: game -->
            <!-- ko template: { name: game().templateName, data: game } --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>

    <!-- stats -->
    <div class="panel panel-default collapse" data-bind="attr: { 'id': room.clientId + '_stats' }">
        <div class="panel-heading">
            <span>Stats</span>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <span>#</span>
                    </th>
                    <!-- ko foreach: { data: playerNames, as: 'playerName' } -->
                    <th>
                        <span data-bind="text: playerName, css: { 'tg-active': playerName === $parent.activePlayerName() }"></span>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: stats, as: 'gameStats' }">
                <tr>
                    <td>
                        <span data-bind="text: $index() + 1"></span>
                    </td>
                    <!-- ko foreach: { data: $parent.playerNames, as: 'playerName' } -->
                    <td data-bind="if: gameStats.winnerNames.indexOf(playerName) > -1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</template>
