<style>
    .tg-table, .tg-table .panel-heading, .tg-table .panel-heading .badge {
        transition: all .5s ease-in-out;
    }

    .tg-table-players-metrics {
        margin-bottom: 10px;
    }

    .tg-table-players-indicator span {
        font-size: 20px;
        color: #777;
        transform: rotate(90deg);
        transition: all .5s ease-in-out;
    }

        .tg-table-players-indicator span.tg-player-in {
            color: #337ab7;
            transform: rotate(0deg);
        }

        .tg-table-players-indicator span.tg-player-min {
            font-size: 22px;
        }
</style>

<template id="tableTemplate">
    <div class="panel panel-default tg-table" data-bind="css: hasJoined() ? 'panel-primary' : 'panel-default'">
        <div class="panel-heading">
            <!-- ko if: game -->
            <span class="pull-right glyphicon" data-bind="css: game().isEnded() ? 'glyphicon-pause' : 'glyphicon-play'" aria-hidden="true"></span>
            <!-- /ko -->
            <span class="badge pull-right" data-bind="text: status"></span>
            <span data-bind="text: gameName"></span>
        </div>
        <div class="panel-body">
            <div class="tg-table-open" data-bind="if: status() === 'Open'">
                <p>Waiting for players to join.</p>
                <div class="row tg-table-players-metrics">
                    <div class="col-xs-4">Min: <span class="badge" data-bind="text: gameInfo.minPlayers"></span></div>
                    <div class="col-xs-4">Current: <span class="badge" data-bind="text: playerNames().length"></span></div>
                    <div class="col-xs-4">Max: <span class="badge" data-bind="text: gameInfo.maxPlayers"></span></div>
                </div>
                <div class="row tg-table-players-indicator">
                    <div class="col-xs-12" data-bind="foreach: Array(gameInfo.maxPlayers)">
                        <span class="glyphicon glyphicon-play-circle" data-bind="css: { 'tg-player-in': $index() + 1 <= $parent.playerNames().length, 'tg-player-min': $index() + 1 === $parent.gameInfo.minPlayers } " aria-hidden="true"></span>
                    </div>
                </div>
            </div>

            <!-- ko template: { name: 'notificationTemplate', data: notification } --><!-- /ko -->
            <!-- ko template: { name: gameTemplateName, if: game, data: game } --><!-- /ko -->
        </div>
    </div>

    <!-- ko template: statsTemplateName --><!-- /ko -->
</template>

<template id="statsVerticalTemplate">
    <div class="panel panel-default collapse" data-bind="attr: { 'id': room.clientId + '_stats' }">
        <div class="panel-heading">
            <span>Stats</span>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <span>#</span>
                    </th>
                    <!-- ko foreach: { data: playerNames, as: 'playerName' } -->
                    <th>
                        <span data-bind="text: playerName, css: { 'tg-active': playerName === $parent.activePlayerName() }"></span>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: stats, as: 'gameStats' }">
                <tr>
                    <td>
                        <span data-bind="text: $index() + 1"></span>
                    </td>
                    <!-- ko foreach: { data: $parent.playerNames, as: 'playerName' } -->
                    <td data-bind="if: gameStats.winnerNames.indexOf(playerName) > -1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</template>

<template id="statsHorizontalTemplate">
    <div class="panel panel-default collapse" data-bind="attr: { 'id': room.clientId + '_stats' }">
        <div class="panel-heading">
            <span>Stats</span>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        <span>Player</span>
                    </th>
                    <!-- ko foreach: { data: stats, as: 'gameStats' } -->
                    <th>
                        <span data-bind="text: $index() + 1"></span>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: playerNames, as: 'playerName' }">
                <tr>
                    <td>
                        <span data-bind="text: playerName"></span>
                    </td>
                    <!-- ko foreach: { data: $parent.stats, as: 'gameStats' } -->
                    <td data-bind="if: gameStats.winnerNames.indexOf(playerName) > -1">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</template>
