@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-sm-4">
        <!-- User Player -->
        <div data-bind="if: userPlayer">
            <div class="list-group" data-bind="with: userPlayer">
                <div class="list-group-item tg-player">
                    <div data-bind="text: name"></div>
                    <div class="tg-player-rooms" data-bind="foreach: rooms">
                        <div>
                            <span data-bind="text: name"></span>(<span data-bind="text: attendance"></span>)
                            <button type="button" class="btn btn-danger btn-xs" data-bind="click: $root.removeRoom">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Room -->
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="New Room" data-bind="value: roomToAdd, enable: authentication.isLoggedIn(), onEnter: addRoom" />
                </div>
                <button type="button" class="btn btn-default" data-bind="click: addRoom">Add</button>
            </div>
        </div>

        <!-- Other Players -->
        <div class="list-group" data-bind="foreach: otherPlayers">
            <div class="list-group-item tg-player">
                <div data-bind="text: name"></div>
                <div class="tg-player-rooms" data-bind="foreach: rooms">
                    <div>
                        <span data-bind="text: name"></span>(<span data-bind="text: attendance"></span>)
                        <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.enterRoom">Enter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <!-- Attended Rooms -->
        <div data-bind="foreach: attendedRooms">
            <div class="row">
                <div class="col-sm-6">
                    <span data-bind="text: name"></span>(<span data-bind="text: attendance"></span>)
                    <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.leaveRoom">Leave</button>

                    <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.createGame">Open</button>

                    <div data-bind="with: game">
                        <span data-bind="text: name"></span>(<span data-bind="text: status"></span>)

                        <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.joinGame">Join</button>

                        <div data-bind="foreach: playerNames">
                            <div data-bind="text: $data"></div>
                        </div>

                        <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.startGame">Start</button>
                    </div>

                    <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.destroyGame">End</button>
                </div>
                <!-- Room Chat -->
                <div class="col-sm-6" data-bind="template: { name: 'chatTemplate', data: chat }"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <!-- Chat -->
        <div data-bind="template: { name: 'chatTemplate', data: chat }"></div>
    </div>

    <div class="col-sm-6">
        <!-- Notification -->
        <div data-bind="foreach: notification.messages">
            <div class="tg-notification">
                <span data-bind="text: type"></span>:<span data-bind="text: message"></span>
            </div>
        </div>
    </div>
</div>

<template id="chatTemplate">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Message" data-bind="value: messageToSend, enable: authentication.isLoggedIn, onEnter: sendMessage" />
        </div>
        <button type="button" class="btn btn-default" data-bind="click: sendMessage">Send</button>
    </div>

    <div data-bind="foreach: messages">
        <div class="tg-message">
            <span data-bind="text: userName"></span>:<span data-bind="text: message"></span>
        </div>
    </div>
</template>

@section scripts {
    <script type="text/javascript" src="~/Scripts/require.js" data-main="@Url.Content("~/TG.Scripts/main")"></script>
}
