<div id="tgUserSettings" class="modal fade" data-bind="event: { 'hidden.bs.modal': saveUserSettings }" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" data-bind="with: userSettings">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">User Settings</h4>
            </div>
            <div class="modal-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: joinTableAfterRoomEntered">Join Table after entering Room (if possible)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: joinTableAfterTableCreated">Join Table after opening Table
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
